* {
    margin: 0;
    padding: 0;
    box-sizing: boarder-box;

}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --color: white;
}

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--color);
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
    grid-column: 2/3;
    margin: 1rem;
}

p {
    margin: 1rem;
}

aside {
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 1rem;
    position: relative
}

h1 {
    color: var(--color);
    border-bottom: #000;
}

aside img {
    width: 200px;
    height: auto;
    padding: 20px 50px 1px;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 200px;
}

p {
    padding: 0;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 1px 0 1rem 1rem;
}

p {
    padding: 10px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #333;
    text-align: center;
}

nav span {
    position: absolute;
    top: 0;
    left: 0;
    width: 95px;
    height: 100%;
    background: linear-gradient(45deg,
            lime, #1bffff);
    border-radius: 8px;
    transition: 0.5 ease;
}

nav a:nth-child(1):hover ~ span {
    left: 0;
}

nav a:nth-child(2):hover ~ span {
    left: 95px;

}

nav a:nth-child(3):hover ~ span {
    left: 189px;
    width: 110px;
}

nav a:nth-child(4):hover ~ span {
    left: 298px;
    width: 115px;
}

nav a:nth-child(5):hover ~ span {
    left: 413px;
    width: 110px;
}

header,
.grid,
footer {
    display: grid;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;

}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}